.pokemons {
    list-style: none;
    display: grid;
    margin-top: 1rem;
  
  }
  
  .pokemons li {
    padding: 0.7rem;
    margin: .5rem;
    border-radius: 20px;
    color: #ffffffbb;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  
  .name-number {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  
  .pokemon-name {
    margin-right: 0.5rem;
    font-size: 0.7rem;
  }
  
  .types-image {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .types {
    height: 100%;
    flex-direction: column;
    display: flex;
    font-size: 0.7rem;
    min-width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  
  .types span {
    background-color: #a3a3a35e;
    margin: 1px;
    border-radius: 15px;
    padding: 4px;
  }
  
  .pokemon-image {
    z-index: 999;
    max-width: 70%;
    background-color: #e7e7e75e;
    border-radius: 100%;
  }

  .grass{background-color: #78c850;}
  .water{background-color: #6890f0;}
  .fire{background-color: #f05030;}
  .electric{background-color: #f8d030;}
  .psychc{background-color: #f85888;}
  .ice{background-color: #98d8d8;}
  .dragon{background-color: #7038f8;}
  .bug{background-color: #8ea033;}
  .dark{background-color: #705848;}
  .normal{background-color: #a8a878;}
  .fight{background-color: #903028;}
  .poison{background-color: #a040a0;}
  .flying{background-color: #eabbf5;}
  .fairy{background-color: #fed2ff;}
  .ground{background-color: #e0c068;}
  .rock{background-color: #b8a038;}
  .ghost{background-color: #705898;}
  .steel{background-color: #b8b8d0;}
  .{background-color: #68a090;}


  